environs~=9.5.0
fastapi~=0.73.0
uvicorn~=0.17.4
sqlalchemy~=1.4.31
databases~=0.5.5
psycopg2-binary~=2.9.3
alembic~=1.7.6
boto3~=1.21.0
python-multipart~=0.0.5
pydantic~=1.9.0
pytest~=7.0.1
requests~=2.27.1